---
- name: Extract rockyou wordlist
  ansible.builtin.command: gunzip -f /usr/share/wordlists/rockyou.txt.gz
  args:
    creates: /usr/share/wordlists/rockyou.txt
  become: true
  failed_when: false
