---
- name: Install Docker and Docker Compose
  ansible.builtin.apt:
    name:
      - docker.io
      - docker-compose
    state: present
    update_cache: false
  become: true

- name: Enable and start Docker service
  ansible.builtin.systemd:
    name: docker
    enabled: true
    state: started
  become: true

- name: Add vagrant user to docker group
  ansible.builtin.user:
    name: vagrant
    groups: docker
    append: true
  become: true

- name: Install zellij
  block:
    - name: Check if zellij is already installed
      ansible.builtin.stat:
        path: /usr/local/bin/zellij
      register: development_zellij_binary

    - name: Download zellij
      ansible.builtin.get_url:
        url: https://github.com/zellij-org/zellij/releases/latest/download/zellij-x86_64-unknown-linux-musl.tar.gz
        dest: /tmp/zellij.tar.gz
        mode: "0644"
      register: development_zellij_download
      when: not development_zellij_binary.stat.exists

    - name: Extract zellij
      ansible.builtin.unarchive:
        src: /tmp/zellij.tar.gz
        dest: /tmp/
        remote_src: true
      when: not development_zellij_binary.stat.exists and (development_zellij_download is changed or not ansible_check_mode)

    - name: Install zellij to /usr/local/bin
      ansible.builtin.copy:
        src: /tmp/zellij
        dest: /usr/local/bin/zellij
        mode: "0755"
        remote_src: true
      become: true
      when: not development_zellij_binary.stat.exists and (development_zellij_download is changed or not ansible_check_mode)

    - name: Verify zellij installation
      ansible.builtin.command: /usr/local/bin/zellij --version
      register: development_zellij_version
      changed_when: false
      failed_when: false

    - name: Clean up zellij download
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      loop:
        - /tmp/zellij.tar.gz
        - /tmp/zellij
      when: development_zellij_download is defined

- name: Configure Zellij
  block:
    - name: Ensure Zellij config directory exists
      ansible.builtin.file:
        path: /home/vagrant/.config/zellij
        state: directory
        owner: vagrant
        group: vagrant
        mode: "0755"
      become: true

    - name: Configure Zellij to disable startup tips
      ansible.builtin.lineinfile:
        path: /home/vagrant/.config/zellij/config.kdl
        regexp: '^\s*show_startup_tips\s*'
        line: 'show_startup_tips false'
        create: true
        owner: vagrant
        group: vagrant
        mode: "0644"
      become: true

- name: Setup Python 2 virtual environment
  block:
    - name: Check if pip2 is already installed
      ansible.builtin.stat:
        path: /usr/local/bin/pip2
      register: development_pip2_binary

    - name: Download pip 2.7 installer
      ansible.builtin.get_url:
        url: https://bootstrap.pypa.io/pip/2.7/get-pip.py
        dest: /tmp/get-pip.py
        mode: "0644"
      register: development_pip_download
      when: not development_pip2_binary.stat.exists

    - name: Install pip for Python 2
      ansible.builtin.command: python2 /tmp/get-pip.py
      args:
        creates: /usr/local/bin/pip2
      become: true
      when: not development_pip2_binary.stat.exists and (development_pip_download is changed or not ansible_check_mode)
      register: development_pip_install

    - name: Upgrade pip and setuptools
      ansible.builtin.pip:
        name:
          - pip
          - setuptools
        executable: pip2
        state: present
      become: true
      when: not development_pip2_binary.stat.exists and (development_pip_install is changed or not ansible_check_mode)

    - name: Install virtualenv
      ansible.builtin.pip:
        name: virtualenv
        executable: pip2
        state: present
      become: true

    - name: Create Python 2 virtual environment
      ansible.builtin.command: python2 -m virtualenv /home/vagrant/py2-env
      args:
        creates: /home/vagrant/py2-env

    - name: Clean up pip installer
      ansible.builtin.file:
        path: /tmp/get-pip.py
        state: absent
      when: development_pip_download is defined
